doctype html
html(lang='en')
  include common/head.pug
  +head("Error")
  body
    header
      include common/navbar.pug
      +navbar(user)
      .container-fluid.py-5
        .p-5.mb-4.bg-light
          h1.text-center= message
          h2.text-center.text-danger= error.status
          pre.text-danger #{error.stack}
    include common/footer.pug
    +footer()
    script(src='/javascripts/leads.js')
