doctype html
html(lang='en')
  include common/head.pug
  +head("Starter MVP")
  body
    header
      include common/navbar.pug
      +navbar()
      .container.py-4
        .p-5.mb-4.bg-light
          .container-fluid.py-5
            h1.display-5.fw-bold Minimum Viable Landing Page
            p.lead.col-md-8.fs-4 This tutorial teaches you how to build a NodeJS web application covering key topics.
            p.lead.col-md-8.fs-4 Learn how to launch a landing page and start collecting sales leads.
            form(action="/", method="POST")
              .input-group.mb-3
                input(name="lead_email", type="email", placeholder="Enter your email address").form-control
                .input-group-text
                  button(type="submit").btn.btn-primary Get Started
    include common/footer.pug
    +footer()
    script(src='/javascripts/leads.js')
