doctype html
html.h-100(lang='en')
  include common/head.pug
  +head("Starter MVP")
  body.d-flex.flex-column.h-100
    header
      include common/navbar.pug
      +navbar(user)
      .container.py-4
        .p-5.mb-4.bg-light
          .container-fluid.py-5
            h1.display-5.fw-bold Minimum Viable Landing Page
            p.lead.col-md-8.fs-4 This is a landing page built with the NodeJS web application.
            p.lead.col-md-8.fs-4 When the landing page launches it will collect sales leads data.
            form(action="/", method="POST")
              .input-group.mb-3
                input(name="lead_email", type="email", placeholder="Enter your email address").form-control
                .input-group-text
                  button(type="submit").btn.btn-primary Get Started
    include common/footer.pug
    +footer()
    script(src='/javascripts/leads.js')
