doctype html
html(lang='en')
  include ../common/head.pug
  +head("Leads")
  body
    header
      include ../common/navbar.pug
      +navbar()
      .container.py-4
        .p-5.mb-4.bg-light
          .container-fluid.py-5
            h1.display-5.fw-bold Leads
            table.table
              thead
                tr
                  th(scope="col") Email
                  th(scope="col") Actions
                  th(scope="col")
                tr
              tbody
                for lead in leads
                  tr(id=lead.id)
                    td
                      span #{lead.email}
                    td
                      a(href="/lead/" + lead.id) Details
                    td
                      button(onclick=`deleteLead('${lead.id}')`).btn.btn-primary   Delete
    include ../common/footer.pug
    +footer()
    script(src='/javascripts/leads.js')
